* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Ubuntu", system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}
